<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="service.html">Service </a></li>
            <li><a href="gallery.html">Gallery </a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="registration.html">Registration</a></li>
        </ul>
    </nav>

    <section>
        <h1>Welcome to Our Home !</h1>
        <p>This is the main section of the home  where you can introduce your website.</p>
        <p>NB United Football Team is a dynamic and passionate football club committed to excellence both on and off the field. Our team is known for its teamwork, skill, and sportsmanship, aiming to inspire the community through the beautiful game.</p>
    </section>
</body>
</html>
